/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */

body{

    font-family:"Figtree",sans-serif;
    background:hsl(47,88%,63%);
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* MAIN */

main{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CARD */

.card{

    background:white;
    width:384px;
    max-width:90%;
    padding:24px;
    border:1px solid black;
    border-radius:20px;
    box-shadow:8px 8px black;
}

/* IMAGE */

.hero{

    width:100%;
    display:block;
    border-radius:10px;
    margin-bottom:24px;
}

/* TAG */

.tag{

    display:inline-block;
    background:hsl(47,88%,63%);
    padding:6px 12px;
    border-radius:4px;
    font-size:14px;
    font-weight:800;
    margin-bottom:16px;
}

/* DATE */

.date{

    font-size:14px;
    margin-bottom:18px;
    color:hsl(0,0%,7%);
}

/* TITLE */

h1{

    margin-bottom:18px;
    font-size:24px;
}

h1 a{

    text-decoration:none;
    color:hsl(0,0%,7%);
    transition:.3s;
}


/* DESCRIPTION */

#blog-description{

    color:hsl(0,0%,42%);
    line-height:1.5;
    margin-bottom:24px;
    font-size:16px;
}

/* AUTHOR */

.author{

    display:flex;
    align-items:center;
    gap:12px;
}

.author img{

    width:32px;
}

.author p{

    font-weight:800;
}

/* ATTRIBUTION */

.attribution{

    margin:20px;
    text-align:center;
    font-size:11px;
}

.attribution a{

    color:hsl(228,45%,44%);
}
