body{
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.qr-card{
    max-width: 320px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 20px 35px rgba(0,0,0,.12);
}

#card-title{
    color: hsl(218,44%,22%);
}

#card-description{
    color: hsl(216,15%,48%);
}